body{
    margin: 0%;
}
.enumerate{
    width: 100px;
    height: 150px;
    border: hsl(0, 0%, 76%) solid;
    background-color: hsl(206, 70%, 96%);
    box-shadow: 5px 3px 5px gray;
    border-radius: 5px;
    margin: 5px;

}
#enumerate-list{
    list-style-type: none;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
.enumerate:hover{
    background-color: hsl(210, 7%, 88%);
}



.buttonDiv{
    padding: 6px;
}

.scrollBtn{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

#soapBox{
    background-color: rgb(226, 248, 250);
    width: 100vw;
    display: flex;
    align-items: center;

}
#searchBar{
    background-color: rgba(20, 20, 20, 0.803);
    height: 35px;
}
.enabled{
    visibility: visible;
}

.disabled{
    visibility: hidden;
}
#break{
    background-color: gray;
    width: 100%;
    height: 1px;
}

#searchIcon{
    float: right;
    padding: 10px;
    color: hsl(34, 100%, 99%);
}

#searchIcon:hover{
    transform: rotateZ(8deg);
    color: hsl(0, 0%, 80%);
}
#searchOptions{
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: whitesmoke;
    height: 25px;
    width:360px;
    position: absolute;
    top: -25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
#closeFiltersButton{
    margin-top: 90%;
    position: absolute;
}
#exitButton{
    float: right;
    border: none;
}

.searchBarBtns{
    height: 20px;
    width: 50px;
    border-radius: 5px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 1px 0 black;
    color: rgb(78, 78, 78);
}
.searchBarBtns:active{
    box-shadow: none;
    transform: translate(1px, 1px);
}

.slidDown{
    animation: 0.5s ease-out 0s 1 running slideDown;
}

.slidUp{
    animation: 0.5s ease-out 0s 1 running slideUp;
}
@keyframes slideDown{
    from{top: -25px;}
    to {top: 0px}
}
@keyframes slideUp{
    from{top: 0px}
    to {top: -25px}
}

.extended{
    animation: 0.5s ease-out 0s 1 running extend;
}
.shrunk{
    animation: 0.5s ease-out 0s 1 running shrink;
}

@keyframes extend {
    from{height: 25px;}
    to{height: 300px;}
}
@keyframes shrink {
    from{height: 300px;}
    to{height: 25px;}
}